.mobileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(231, 234, 242, 1);
  padding-top: 15px;
}

.tabletContainer {
  background-image: url(/assets/dashboard-background-tablet.png);
  padding-inline: 20px;
  background-size: cover;
  background-position: center;
}

.desktopContainer {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-size: cover;
  background-image: url(/assets/dashboard-background-desktop.png);
  background-position: center;
  padding-top: 30px;
}

@media screen and (min-width: 1268px) {
  .desktopContainer {
    max-width: 100%;
  }
}