.mobileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(231, 234, 242, 1);
  padding-top: 15px;
}

.tabletContainer {
  height: calc(100vh - 70px);
  background-image: url(/assets/dashboard-background.png);
  padding-inline: 20px;
}

.desktopContainer {
  display: flex;
  height: calc(100vh - 70px);
  width: 100%;
  max-width: 1268px;
  background-size: cover;
  background-image: url(/assets/dashboard-background.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-inline: 20px;
  padding-top: 30px;
}



@media screen and (min-width: 1268px) {
  .desktopContainer {
    max-width: 100%;
  }
}