.mobileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(231, 234, 242, 1);
}

.desktopContainer {
  display: flex;
  height: calc(100vh - 70px);
  width: 100%;
  max-width: 1268px;
  background-size: cover;
  background-image: url(/assets/dashboard-background.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* .innerWrapper {
  dis
} */

@media screen and (min-width: 1268px) {
  .desktopContainer {
    max-width: 100%;
  }
}