.login__tablet {
  display: none;
}
.firstelipse {
  display: none;
}
.secondelipse {
  display: none;
}
.finance {
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .login__container {
    width: 100vw;

    height: 100vh;
    background-color: rgba(231, 234, 242, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }
  .login__tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 520px;
    margin-bottom: 40px;

    z-index: 9;
  }
  .firstelipse {
    display: block;
    position: absolute;
    width: 618px;
    height: 547px;
    top: -153px;
    right: -200px;
    background-color: rgba(255, 216, 208, 1);
    border-radius: 50%;
    transform: rotate(-21.94deg);
    z-index: -1;
  }
  .secondelipse {
    display: block;
    position: absolute;
    left: 0px;
    bottom: -4px;
    z-index: -1;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .login__container {
    flex-direction: row;

    justify-content: space-between;
  }
  .login__tablet {
    margin-bottom: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
  }
  .login__desktop {
    background-color: #ffffff66;
    width: 720px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .firstelipse {
    box-shadow: 0 0 30px 50px var(--car-diagram-color);
    top: -190px;
    right: -112px;
  }
}
