li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.doughnut {
  position: relative;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  min-height: 100vh;
  height: 100%;
}

.listNames {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  height: 58px;
  margin-top: 0;
  margin-bottom: 9px;
  border-radius: 29px;
  align-items: center;
  background-color: #fff;
}

.nameElement {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  padding-left: 20px;
  padding-right: 20px;
}

.listTransaction {
  margin: 0 0 15px 0;
}

.elementTransaction {
  color: #000;
  display: flex;
  height: 54px;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  border-bottom: 1px solid rgba(220, 220, 223, 1);
}

.sum {
  margin-left: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}

.category {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}

.listAll {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}

.elementListAll {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.elementAllText {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.elementAllExpenses {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 101, 150, 1);
}

.elementAllIncome {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgba(36, 204, 167, 1);
}

.selectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistics__header {
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
}

.select__month {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.select__year {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.diagram__expenses {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 135px;
  left: 120px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 1px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100vw;
    height: 100%;
  }

  .chart__container {
    width: 300px;
    height: 600px;
  }

  .tablet__container {
    width: 336px;
  }

  .selectContainer {
    flex-direction: row;
  }

  .select__year {
    margin-top: 20px;
    margin-left: 20px;
  }

  .doughnut {
    width: 336px;
    height: 336px;
  }
}

@media screen and (min-width: 1200px) {
  .doughnut {
    width: 288px;
    height: 288px;
  }

  .container {
    width: 897px;
    border-left: 1px solid rgba(231, 229, 242, 1);
    padding-left: 20px;
  }

  .tablet__container {
    margin-top: 70px;
    margin-left: 40px;
  }
}