/*Mobile*/

.balance {
  background-color: white;
  border-radius: 30px;
  padding: 8px 32px;
  width: 280px;
  height: 80px;
  margin-bottom: 20px;
}

.balance__text {
  color: var(--placeholder-color);
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
}

.balance__amount {
  color: var(--dark-text-color);
  font-family: "Poppins";
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
}

.balance__currency {
  font-weight: 400;
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .balance {
    width: 336px;
    margin-bottom: 0;
  }
}

/*Desktop*/
@media screen and (min-width: 1280px) {
  .balance {
    width: 395px;
    margin-top: 5px;
  }
}