.backdrop {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(0);
	transition-duration: 250ms;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.backdropIsOpen {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	background-color: rgba(0, 0, 0, 0.25);
	transition-duration: 250ms;
	pointer-events: all;
	transform: none;
}

.modal {
	background-color: var(--secondary-gray-font-color);
	height: 15%;
	width: 30%;
	border-radius: 5px;
}

.question {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.buttons {
	display: flex;
	justify-content: space-around;
}

.item-yes {
	width: 60px;
	height: 35px;
	background-color: transparent;
	border: 1px solid var(--other-expenses-diagram-color);
	color: var(--other-expenses-diagram-color);
	border-radius: 15px;
	cursor: pointer;
}

.item-no {
	width: 60px;
	height: 35px;
	background-color: transparent;
	border: 1px solid rgba(230, 62, 62, 0.769);
	color: rgba(230, 62, 62, 0.769);
	border-radius: 15px;
	cursor: pointer;
}