:root {
  --primary-gray-font-color: #BDBDBD;
  --secondary-gray-font-color: #E0E0E0;
  --primary-expanse-color: #FF6596;
  --primary-income-color: #24CCA7;
  --main-expanses-diagram-color: #FED057;
  --products-diagram-color: #FFD8D0;
  --car-diagram-color: #FFD8D0;
  --self-care-diagram-color: #FFD8D0;
  --child-care-diagram-color: #6E78E8;
  --household-products-diagram-color: #4A56E2;
  --education-diagram-color: #81E1FF;
  --other-expanses-diagram-color: #00AD84;
}

body {
  color: #000000;
  font-family: 'Circe', sans-serif, 'Poppins', sans-serif;
}