.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
    border: none;
    position: fixed;
    bottom: 5px;
    right: 10px;
    padding: 0;
    transform: scale(1);
    transition: 300ms;
    z-index: 999;
}

.btn:hover,
.btn:focus {
    transform: scale(1.3);
    transition: 300ms;
    border: none;
    outline: none;
    background: none;
}

.icon {
    display: flex;
    width: 60px;
    height: 60px;
}

@media (min-width: 767px) {
    .btn {
        bottom: 20px;
        right: 20px;
    }
}